<div class="row">
  <div class="small-12 small-centered columns"  id="post-list">

  <ol>
    <% @favorites.each do |favorite| %>
    <li>
      <div class="post">
        <div class="thumbnail">
          <% if favorite[:thumbnail] == "" %>
            <%= image_tag("https://people.gnome.org/~tthurman/pics/maemo/raeddit-04/raeddit.png") %>
          <% else %>
            <%= image_tag(favorite[:thumbnail]) %>
          <% end %>
        </div>

        <div class="favorite" id="<%= post[:id] %>">
          <%= image_tag("http://i.imgur.com/rWb1i5P.png") %>
        </div>

        <div class="info">
          <%= favorite[:title] %><br>
          <p>
            <%= link_to favorite[:link], favorite[:link] %><br>
            Comments: <%= favorite[:num_comments] %>
          </p>
        </div>
      </div>
    </li>
    <% end %>
  </ol>

  </div>
</div>

<%= link_to "Home", posts_path %>
