<div class="row">
  <div class="small-12 small-centered columns"  id="list-body">
  <ol>
    <% @posts.each do |post| %>
    <li>
      <%= post[:title] %><br>
      <span><a href="http://www.reddit.com<%= post[:link] %>"><%= post[:link] %></a></span>
      <p>Comments: <%= post[:num_comments] %></p>
    </li>
    <% end %>
  </ol>
  </div>
</div>
