* {
  font-family: Verdana, Geneva, sans-serif;
}

#post-list {
  background-color: #F6F6EF;
}

a:link {
  color: #2960B7;
}

a:visited {
  color: #828282;
}

.thumbnail img {
  height: 75px;
  width: 75px;
  border: #F6F6EF;
  float: left;
}

.post {
  font-size: 12pt;
  }

.post p {
  font-size: 10pt;
/*   margin-left: 15px;
 */}
