* {
  font-family: Verdana, Geneva, sans-serif;
}

#list-body {
  background-color: #F6F6EF;
}

a:link {
  color: #2960B7;
}

a:visited {
  color: #828282;
}

/* li img {
  height: 10px;
  width: 10px;
  border: #F6F6EF;
} */

li {
  font-size: 10pt;
  }

li p {
  font-size: 9pt;
/*   margin-left: 15px;
 */}
